// General

body {
  font-family: Lexend;
  font-weight: 400;
  letter-spacing: 0.36px;
  color: $color-black;
}

// Heading

.heading-primary {
  font-size: 4rem;
  font-weight: 900;
  text-transform: capitalize;
}

.heading-secondary {
  font-size: 3.2rem;
  font-weight: 600;
  text-transform: capitalize;
}

.heading-tertiary {
  font-size: 2.4rem;
  font-weight: 500;
  text-transform: capitalize;
}

// Subtitle

.subtitle {
  font-size: 1.8rem;
  font-weight: 500;
}

// Body

.body-light {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.4rem;
}

.body-medium {
  font-size: 1.6rem;
  font-weight: 500;
}

.body-semibold {
  font-size: 1.6rem;
  font-weight: 600;
}

// Label

.label-regular {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.4rem;
}

// Input

.text-input {
  font-size: 1.4rem;
  font-weight: 500;
}

// Colour variations

.text-primary {
  color: $color-primary;
}

.text-secondary {
  color: $color-secondary;
}

.text-grey-2 {
  color: $color-grey-2;
}

.text-grey-3 {
  color: $color-grey-3;
}

.text-dark-black {
  color: $color-dark-black;
}
