@mixin leftTail {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0.8rem;
    left: -4rem;
    width: 3.2rem;
    border: 0.5px solid currentColor;
  }
}

@mixin topTail {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: -0.8rem;
    left: 50%;
    transform: translateX(-50%);
    width: 3.2rem;
    border: 0.5px solid currentColor;
  }
}

@mixin blob(
  $blob-1-top,
  $blob-1-left,
  $blob-1-colour,
  $blob-2-top,
  $blob-2-left,
  $blob-2-colour
) {
  position: relative;

  &-blob {
    position: absolute;
    filter: blur(4.5rem);
    opacity: 0.3;

    &-1 {
      top: $blob-1-top;
      left: $blob-1-left;
      color: $blob-1-colour;
    }

    &-2 {
      top: $blob-2-top;
      left: $blob-2-left;
      color: $blob-2-colour;
    }
  }
}
