// Colours

$color-primary-light: #d1fae5;
$color-primary: #10b981;
$color-primary-dark: #0b9567;

$color-secondary: #f59e0b;

$color-violet: #82bbff;

$color-white: #ffffff;

$color-grey-1: #e0e3eb;
$color-grey-2: #888b97;
$color-grey-3: #626687;

$color-black: #1b1c57;
$color-dark-black: #0c1537;

// Shadow

$shadow: 0 0.8rem 3.2rem 0 rgba($color-dark-black, 0.1);
