// Colours

$color-primary-light: #d1fae5;
$color-primary: #10b981;
$color-primary-dark: #0b9567;

$color-secondary: #f59e0b;

$color-danger: #ef4444;
$color-danger-light: #fee2e2;

$color-info: #1d4ed8;
$color-info-light: #dbeafe;

$color-violet: #82bbff;

$color-white: #ffffff;

$color-grey-1: #e0e3eb;
$color-grey-2: #888b97;
$color-grey-3: #626687;

$color-black: #1b1c57;
$color-dark-black: #0c1537;

// Shadow

$shadow: 0 0.8rem 3.2rem 0 rgba($color-dark-black, 0.1);
$shadow-btn: 0 0.8rem 1.6rem rgba($color-dark-black, 0.2);
