.dot {
  height: 0.8rem;
  width: 0.8rem;
  background-color: $color-grey-1;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.25s ease;

  &--active {
    background-color: $color-grey-3;
  }
}
