.input {
  padding: 1.6rem 2.4rem;
  border: 1px solid $color-grey-1;
  border-radius: 2.8rem;
  font-family: inherit;
  color: inherit;
  background-color: $color-white;
  position: relative;

  &__error {
    position: absolute;
    bottom: -2.4rem;
    left: 2.4rem;
    color: $color-danger;
  }

  &--complex {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    padding: 0.4rem 0.4rem 0.4rem 2.4rem;

    &-input {
      flex: 1;
      border: none;
      outline: none;
      color: inherit;

      &::placeholder {
        color: $color-grey-2;
      }
    }
  }

  &--textarea {
    display: flex;
    align-items: end;

    &-input {
      flex: 1;
      border: none;
      outline: none;
      font-family: inherit;
      color: inherit;
      resize: none;

      &::placeholder {
        color: $color-grey-2;
      }
    }
  }

  &--checkbox {
    width: 2.4rem;
    height: 2.4rem;
    accent-color: $color-primary;
  }

  &::placeholder {
    color: $color-grey-2;
  }

  &:focus-within {
    outline: 1px solid blue;
  }

  &--error {
    &:focus-within {
      outline: 1px solid $color-danger;
    }
  }
}
