.input {
  padding: 1.6rem 2.4rem;
  border: 1px solid $color-grey-1;
  border-radius: 2.8rem;

  &--complex {
    display: flex;
    gap: 1.6rem;
    padding: 0.4rem 0.4rem 0.4rem 2.4rem;
  }

  &__input {
    flex: 1;
    border: none;
    outline: none;

    &::placeholder {
      color: inherit;
    }
  }

  &:focus-within {
    outline: 1px solid blue;
  }
}
