.footer {
  display: flex;
  justify-content: space-between;
  padding: 12.4rem;
  padding-top: 8.4rem;
  overflow: hidden;
  @include blob(8%, 81%, #82bbff, 20%, 62%, #b9ff82);

  &__bio {
    flex: 0 1 30%;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }

  &__details {
    flex: 0 1 60%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  &__column {
    &-title {
      margin-bottom: 2.4rem;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  &__link {
    &:link,
    &:visited {
      transition: all 0.2s ease;

      &:focus,
      &:hover {
        outline: none;
        border-bottom: 2px solid currentColor;
      }
    }
  }
}
